p {
    color: white;
}
body {
    color: white;
      background-image: url("http://www.hotelroomsearch.net/im/hotels/it/sunset-bay-4.jpg");
    height: 810px;
}
#nav {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
